<div class="container">
	<div class="row margin-top">
		<div class="col-xs-6 align-right">
			<a href="facetime://steven.c.hein@gmail.com"><button class="btn btn-lg btn-warning pointer"><span class="glyphicon glyphicon-phone-alt icon-font"></span></button></a>
		</div>
		<div class="col-xs-6 align-left">
			<buton ui-sref="map" class="btn btn-lg btn-success pointer"><span class="glyphicon glyphicon-globe icon-font"></span></button>
		</div>
	</div>
	<div class="row margin-top">
		<div class="col-xs-6 align-right">
			<buton ui-sref="draw" class="btn btn-lg btn-primary pointer"><span class="glyphicon glyphicon-picture icon-font"></span></button>
		</div>
		<div class="col-xs-6 align-left">
			<buton ui-sref="photo" class="btn btn-lg btn-danger pointer"><span class="glyphicon glyphicon-camera icon-font"></span></button>
		</div>
	</div>
</div>