<div class="container">
	<div class="row margin-top">
		<div class="col-xs-6 center">
			<a href="facetime://steven.c.hein@gmail.com"><button class="btn btn-lg btn-default pointer"><span class="glyphicon glyphicon-phone-alt"></span> call buggie</button></a>
		</div>
		<div class="col-xs-6 center">
			<buton ui-sref="map" class="btn btn-lg btn-default pointer"><span class="glyphicon glyphicon-globe"></span> find buggie</button>
		</div>
	</div>
	<div class="row margin-top">
		<div class="col-xs-6 center">
			<buton ui-sref="draw" class="btn btn-lg btn-default pointer"><span class="glyphicon glyphicon-pencil"></span> draw a picture</button>
		</div>
		<div class="col-xs-6 center">
			
		</div>
	</div>
</div>